runtime/*
web/assets/*
web/.sass-cache
web/css/.sass-cache
web/favicon.ico
web/files/*
vendor/*
config/*
modules/seo/redirects/redirectsArray.php
jolici.phar
.jshintrc
assets.php
codeception.yml
compile-assets.sh
compiler.jar
composer.lock
composer.phar
composer-temp.phar
demo.sh
favicon.ico
i18n.sh
message_extract.php
requirements.php
update-dependencies.sh
yii
yii.bat
yuicompressor-2.4.8.jar