/*
 /*Komment
 General */

body {
    font-size: 14px;
    letter-spacing: .5px;
    font-family: Roboto, sans-serif;
    background-color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #388f73;
}
input::placeholder {
    color: rgb(0, 0, 0)!important;
    opacity: .3!important
}
a {
    text-decoration: none
}
.wrapper {
    width: 100%;
    position: relative
}
.info-top {
    padding-top: 7px;
    height: 35px;
}
.bx {
    font-family: boxicons, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.bx-user::before {
    content: "\ebbf";
}
.bx-heart::before {
    content: "\ea6c";
}
.bx-shopping-bag::before {
    content: "\eb68";
}
.alert-count {
    position: absolute;
    top: -19px;
    left: 17px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    background: #282424;
}
.cart-block-links li {
    margin-right: 20px;
}
.card-header {
    margin-top: -15px;
    margin-right: -15px;
}
.filter-link{
    color: #679b00;
}
.selected-header{
    margin-bottom: 8px;
}
.property-values li a{
    color: #212529;
    padding-left: 10px;
}
.form-check-input:checked {
    background-color: #679b00;
    border-color: #679b00;
}
.filter-check{
    margin-left: 5px;
}
.btn-mobile-filter {
    width: 45px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #262323;
    background-color: #ffffff59;
    border-radius: 5%;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 65%;
    z-index: 5;
}
@media screen and (max-width: 1200px) {
    .filter-sidebar {
        width: 300px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y: scroll;
        background-color: #212529;
        z-index: 5;
    }
}

/* Card */

.card {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
#list-selected li a:hover{
    color: #e6399b; /* Меняем цвет текста */
}
.filter-sets-widget ul {
    list-style: none;
    padding-left: 0;
}
.card {
    border: 0px solid rgb(0 0 0 / 0%);
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
}
.card-group {
    margin-bottom: 1.5rem
}
#main-message {
    background-color: #e667af52;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 2px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}
.product-grid .card.product-card {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.product-grid .product-card .product-action, .product-grid .product-card .product-compare {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.product-grid .product-card:hover .product-action, .product-card:hover .product-compare {
    visibility: visible;
    opacity: 1;
}
.product-wishlist {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 20px;
    background-color: #e9ecef;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}
.badge-danger {
    color: #fff;
    background-color: #f33535 !important;
}
.product-compare, .product-category {
    color: #212529;
}
.product-compare:hover, .product-wishlist:hover, .product-category:hover {
    color: #212529;
}
.product-image{
    max-height: 220px;
    width: auto;
    display: block;
    overflow: hidden;
}
.product-image img{
    max-height: 220px;
    width: auto;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

    .product-grid .card.product-card:hover {
        background-color: #fff;
        -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }

#short-description{
    color: rgba(33, 37, 41, 0.78);
    background: #d2bbbe30; /* Цвет фона */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 4.4em;
    padding: 3px 3px 0 5px;
}

.font-11 {
    font-size: 11px
}

.font-12 {
    font-size: 12px
}
.font-13 {
    font-size: 13px
}
.font-14 {
    font-size: 14px
}

@media screen and (min-width: 576px) and (max-width: 1199px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
    }
}