/*-------------------------
 background images 
 -------------------------*/

.bg-img {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media (max-width: 991px) {
  .bg-img {
    background-position: 0% bottom;
  }

  .bg-img.bg-img3 {
    background-position: 75% bottom;
  }

  .bg-img.bg-img4 {
    background-position: 25% bottom;
  }

  .wraped .bg-img {
    background-position: 40% bottom;
  }
}

/*------------------------
  background colors 
  ------------------------*/

.theme-bg {
  background-color: $theme-color !important;
}

.bg-light {
  background-color: $color-grey-dark !important;
}

.bg-lighten {
  background-color: $color-grey !important;
}

.bg-lighten2 {
  background-color: $color-grey-light;
}

.bg-dark {
  background-color: $color-dark !important;
}

/*-------------------
  text-color 
 -------------------*/

.theme-color {
  color: $theme-color;
}

.theme-color2 {
  color: $theme-color2;
}

.theme-color3 {
  color: $theme-color3;
}

.text-warning {
  color: $color-warning !important;
}

.text-dark {
  color: $color-dark !important;
}

.text-muted {
  color: $body-color !important;
}